.container {
  width: 98%;
  padding: 10px;
  display: flex;
  justify-content: center;

}

#empty_img {
  width: 300px;
  height: 250px;
}

.container table {
  width: 98%;
  text-align: center;
  margin-top: 30px;
  /* border: 1px solid black; */
}

.container thead {
  background-color: black;
  color: white;
}

.container th,
td {
  padding: 10px;
  border-radius: 4px;
}

.container tbody {
  background-color: rgb(217, 220, 223);
  color: rgb(15, 15, 15);
}

#cartt_img {
  width: 100px;
  height: 80px;
  border-radius: 8px;
}

#first button {
  width: 90px;
  height: 35px;
  background-color: black;
  border-radius: 7px;
  color: white;
}

#second {
  background-color: black;
  color: white;
}

#third button {
  width: 90px;
  height: 35px;
  background-color: black;
  border-radius: 5px;
  color: white;
}
#check {
  width: 80px;
  height: 30px;
  color: black;
  background-color: white;
  border-radius: 8px;
}
