{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/cust_login.css' %}">
</head>

<body>
    <div class="container">
        <div class="sub">
            <div class="left">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1 id="h1">Login</h1>
                    <hr id="hr"><br><br>

                    <input type="mail" name="c_mail" placeholder="Email">
                    <br><br><br>
                    <input type="password" name="c_pass" placeholder="password*">
                    <br><br>
                    <button>Continue</button><span><a href="http://127.0.0.1:8000/common/cust_forgot"> Forgot Pssword?</a></span>
                    <br><br>
                    <p class="new">Don't have an account? <a href="http://127.0.0.1:8000/common/cust_reg">sign up
                            now</a></p><span>{{msg}}</span>
                </form>
            </div>
            <div class="right">
                <img src="{% static 'images/log.png' %}" alt="">
            </div>
        </div>
    </div>
</body>

</html>