h2{
    text-align: center;
    margin-top: 70px;
}
.btn-div{
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    margin: auto;
}
.button #btn{
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
.add{
  
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
.add form{
    width: 400px;
    height: 520px;
    background-color:  rgb(190, 211, 211);
  
    border-radius: 9px;
    
}
form label{
    font-size: 20px;
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
}
form #iimg{
    margin-left: 60px;
}
form input{
    width:300px;
    height: 40px;
    border-radius: 8px;
    margin-left: 50px;
}
form textarea{
    border-radius: 8px;
    margin-left: 60px;
}
form #btn2 {
    width: 120px;
    height: 30px;
    margin-left: 40px;
    border-radius: 9px;
    background-color: black;
    color: white;
}
form #btn3 {
    width: 120px;
    height: 30px;
    margin-left: 100px;
    border-radius: 9px;
    background-color: black;
    color: white;
}
.container {
    width: 98%;
    padding: 10px;
    
   

}

.container table {
    width: 98%;
    text-align: center;
    margin-top: 30px;
}

.container thead {
    background-color:black;
    color: white;


}

.container th,
td {
    padding: 10px;
    border-radius: 4px;

}

.container tbody {
    background-color: rgb(217, 220, 223);
    color: rgb(15, 15, 15);

}
#category_image{
    width: auto;
    height: 100px;
    border-radius: 5px;

}