h2 {
    text-align: center;
}

.container {
    width: 98%;
    padding: 10px;
   
}

.container table {
    width: 98%;
    text-align: center;
    margin-top: 30px;
}

.container thead {
    background-color: black;
    color: white;


}

.container th,
td {
    padding: 10px;
    border-radius: 4px;

}

.container tbody {
    background-color: rgb(217, 220, 223);
    color: rgb(15, 15, 15);

}

#customer_img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}