{% extends "ecom_admin/master.html" %}
{% load static %}
{% block title %}customer list{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/customer_list.css' %}">{% endblock %}


{% block body %}
    <h2>CUSTOMERS</h2>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>S NO</th>
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>ADDRESS</th>
                    <th>PHONE</th>
                    <th>E-MAIL</th>
                    <th>IMAGE</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.e_mail}}</td>
                    <td><img id="customer_img" src="{{i.image.url}}" ></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}